<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <%= render 'error', obj: @task %>
      <%= render 'users/edit' %>
      <%= render 'form_new', task: @task %>
    </div>
    <div class="col-md-8">
      <%= render 'index', tasks: @tasks %>
    </div>
  </div>
</div>



