h1
  | プロフィール編集
= form_with model: @user do |f|
  .form-group

  p
    | 画像
  = f.file_field :profile_image, accept: "image/*"
  .form-group

  p
    = f.label :name
  = f.text_field :name, class: 'form-control'
  .form-group

  p
    = f.label :introduction
  = f.text_area :introduction, class: 'form-control'
  .task_submit.mb-2
    = f.submit '更新', class: 'btn btn-success'
