<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <%= render 'edit' %>
      <%= render 'tasks/form_new', task: @task %>
    </div>
    <div class="col-md-8">
      <%= render 'index_users', users: @users %>
    </div>
  </div>
</div>